<h1 class="m-2 ml-4">Home#welcome_visitor</h1>
<p class="m-2 ml-4">Find me in app/views/home/welcome_visitor.html.erb</p>

<p class="m-2 ml-4">Welcome <%= @first_name%></p>

<p class="m-2 ml-4">Voici la liste des potins :</p>

<div class="card m-2 ml-4" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>


