<h1 class="text-center m-3 mt-5 ">Contact</h1>

<div class="row justify-content-center">
  <div class="col-6">
    <form>
      <div class="form-group ml-5">
        <label for="exampleInputFirstName">First name</label>
        <input type="first_name" class="form-control" id="exampleInputFirstName" aria-describedby="FirstNameHelp">
      </div>
      <div class="form-group ml-5">
        <label for="exampleInputLastName">Last name:</label>
        <input type="last_name" class="form-control" id="exampleInputLastName">
      </div>
      <div class="form-group ml-5 ">
        <label for="exampleInputRequest">Request</label>
        <input type="request" class="form-control" id="exampleInputRequest">
      </div>
      <div class="row justify-content-center">
        <button type="submit" class="btn btn-info ml-5">Submit</button>
      </div>
    </form>
  </div>
</div>


